
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-chat-1:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-cloud-flash:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\f03a'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */